/*
 * .sticky-enabled.tableheader-processed.sticky-table is the name of  the class in html 
 * delete spaces and add "." inbetween when formatting 
 * get classes from inspecting 
 */
 
@media print {
    
    
    header, footer, .region-sidebar-first, .views-field-comments-link, .pagination, .nav-tabs, .prev a, .next a  {
        
        display: none;
        
    }
    
    .month.day a[href]:after, .field-content a[href]:after {
        
        content: none !important;
    
    }
    
} 

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr {
    line-height: 2;
}
tr:hover {background-color:#f5f5f5;}

.form-item.form-item-start-date-date.form-type-textfield.form-group{
    float: none;
}

label {
    display: list-item !important;
    margin-top: 10px ;
    margin-bottom: 20px !important;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview{
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

}

#edit-submit
{
    margin-top: 17px;
}

.name.navbar-brand{
    font-size: 2.5em;
    color: white !important;
    margin-top: 6rem;
}

/**.container-inline-date {
    margin-bottom: 15px;
    margin-right: 0 !important;
    position: relative !important;
    float: none !important;
    width: 50%;
    display: inline;
}*/

/**.form-item {
    width: 100%;
    display: inline-block;
}*/


/**.form-control {
    position: relative !important;
    width: 75% !important;
    margin-top: 12px !important;
    border-radius: 10px !important;
} */

body {
    list-style-type: none !important;
}

a {
    color: #800029 !important;
    margin-bottom: 5px !important;
}

.btn-primary {
    background-color: #800029 !important;
    border-color: #333333 !important;
}

.calendar-calendar th.days {
    background-color: #800029 !important;
}

.breadcrumb { 
    display: none;
}

.collision-handler a {
    
    display: inline;
    
    position: relative;
    
    top: 1em;
    
    left: 2em;
    
    padding: 6px;
    
    border : 1px solid;
    
    border-radius: 4px; 
    
    border-color: #800029; 
    
    font-weight: bolder;
    
    text-decoration: none !important;

}

.collision-handler a:hover, .request-handler a:hover {
    
    background-color: #800000;
    
    color: white !important;
    
}

.request-handler a {
    
    display: inline;
    
    position: relative;
    
    top: 1.5em;
    
    padding: 6px;
    
    border : 1px solid;
    
    border-radius: 4px; 
    
    border-color: #800029; 
    
    font-weight: bolder;
    
    text-decoration: none !important;

}

.calendar-calendar td{
    color:black;
    font-weight:bold;
}
/*This is the background color for the date box of the current day
 * values can be altered so its shape can make a triangle or fill the entire box
 */
.calendar-calendar .month-view .full td.date-box.today
{    
    
     background-color:#800029;
     /*color:white !important;*/
    /*background-image: linear-gradient(135deg, #800029, #800029 22%, transparent 70%, transparent);*/
    /*background-image: linear-gradient(225deg, #800029, #800029 30%, transparent 90%, transparent);
    */
    border: 2px solid black;
}

.calendar-calendar .month-view .full tr td.single-day.today
{
    border: 2px solid black;
}

.calendar-calendar td .inner div.day.today a
{
    color: white !important;
}


.calendar-calendar td.empty
{
    color:#800029;
}

.contents{
    /*background: #74a5d7 !important;*/
    /*height: 1.9em;*/
    /*overflow: hidden;*/
    /*margin: 0px auto;*/
    /*color: #ffffff;*/
    /*position: relative;*/
}