/*
 * .sticky-enabled.tableheader-processed.sticky-table is the name of  the class in html 
 * delete spaces and add "." inbetween when formatting 
 * get classes from inspecting 
 */
 
@media print {
    
    
    header, footer, .region-sidebar-first, .views-field-comments-link, .pagination li a, .pagination li span, .action-links li a, .nav-tabs, .prev a, .next a, #print, #edit-filters, #edit-submit {
        
        display: none;
        
    }
    
    a[href]:after {
        
        content: none !important;
    
    }
    
} 

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr {
    line-height: 2;
}
tr:hover {background-color:#f5f5f5;}

.form-item.form-item-start-date-date.form-type-textfield.form-group{
    float: none;
}

label {
    display: list-item !important;
    margin-top: 10px ;
    margin-bottom: 20px !important;
}

.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview{
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;

}

#edit-submit
{
    margin-top: 17px;
}

.name.navbar-brand{
    font-size: 2.5em;
    color: white !important;
    margin-top: 6rem;
}

/**.container-inline-date {
    margin-bottom: 15px;
    margin-right: 0 !important;
    position: relative !important;
    float: none !important;
    width: 50%;
    display: inline;
}*/

/**.form-item {
    width: 100%;
    display: inline-block;
}*/


/**.form-control {
    position: relative !important;
    width: 75% !important;
    margin-top: 12px !important;
    border-radius: 10px !important;
} */

body {
    list-style-type: none !important;
}

a {
    color: #800029 !important;
    margin-bottom: 5px !important;
}

.btn-primary {
    background-color: #800029 !important;
    border-color: #333333 !important;
}

.calendar-calendar th.days {
    background-color: #800029 !important;
}

.breadcrumb { 
    display: none;
}

.collision-handler a {
    
    display: inline;
    
    position: relative;
    
    top: 1em;
    
    left: 2em;
    
    padding: 6px;
    
    border : 1px solid;
    
    border-radius: 4px; 
    
    border-color: #800029; 
    
    font-weight: bolder;
    
    text-decoration: none !important;

}

.collision-handler a:hover, .request-handler a:hover, .event-handler a:hover {
    
    background-color: #800000;
    
    color: white !important;
    
}

.request-handler a, .event-handler a {
    
    display: inline;
    
    position: relative;
    
    top: 1.5em;
    
    padding: 6px;
    
    border : 1px solid;
    
    border-radius: 4px; 
    
    border-color: #800029; 
    
    font-weight: bolder;
    
    text-decoration: none !important;

}

.calendar-calendar td{
    color:black;
    font-weight:bold;
}
/*This is the background color for the date box of the current day
 * values can be altered so its shape can make a triangle or fill the entire box
 */
.calendar-calendar .month-view .full td.date-box.today
{    
    
     background-color:#800029;
     /*color:white !important;*/
    /*background-image: linear-gradient(135deg, #800029, #800029 22%, transparent 70%, transparent);*/
    /*background-image: linear-gradient(225deg, #800029, #800029 30%, transparent 90%, transparent);
    */
    border: 2px solid black;
}

.calendar-calendar .month-view .full tr td.single-day.today
{
    border: 2px solid black;
}

.calendar-calendar td .inner div.day.today a
{
    color: white !important;
}


.calendar-calendar td.empty
{
    color:#800029;
}

.navbar.container.navbar-default{
    background: #800029 url(http://www.ulm.edu/_resources/images/line-pattern_0.png) !important;
    height: 130px !important;
    min-height: 110px !important;
    min-width: 1000px !important;
    width: 100% !important;
}

.logo.navbar-btn.pull-left>img{
    height: 110px !important;
}

.name.navbar-brand{
    margin: 35px 0;
}

.date-box.today>.inner>.month.day>a {
    color: white !important;
}

/*.block-title {*/
/*    margin-left: 0.3em !important;*/
/*    color: white !important;*/
/*}*/
/*.region.region-sidebar-first.well{*/
    /*background-color :#800029 !important ;*/
/*    color :#D3D3D3  !important;*/
/*    background:#800029  ;*/
/*    padding: 10px 0 18px 0px;*/
/*    width: 100%;*/
/*    opacity : 0.9 !important;*/
    
/*}*/

/*.leaf>a{*/
/* color : white !important;*/
/*}*/

/*.leaf>a:hover{*/
/* color : #D3D3D3 !important;*/
/* background-color: #800029 !important;*/
/*}*/

/*.leaf:nth-child(even) {*/
    
/*}*/

/*.leaf:nth-child(odd) {*/
    /*background-color: #C0C0C0	;*/
/*}*/


/*CSS of the RSS feeds*/

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff {
    background-color : silver !important;
}

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
    background-color : silver !important;
}

.contents>a{
    color: maroon !important;
}

.cutoff{
     background-color : silver !important;
}

/*modal css*/
.popups-container{
    margin-bottom: 50em !important;
}


/*modal css for schedule events*/
/*.form-item.form-item-courses.form-type-checkboxes.form-group{*/
/*    float:left;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    margin-left: 50em;*/
/*    padding: 1em;*/
/*}*/



/*.form-item.form-item-start-date.form-type-date-popup.form-group{*/
/*    position: absolute;*/
/*    margin-top: 5em;*/
/*}*/

/*.form-item.form-item-end-date.form-type-date-popup.form-group{*/
/*    float:right;*/
/*    margin-left: 24em;*/
/*position: absolute;*/
/*margin-top: 5em;*/
/*}*/
/*.btn.btn-default.form-submit{*/
/*    position:fixed;*/

/*}*/

