#schedule-link {
    
    display: inline;
    
    position: relative;
    
    font-weight: bold;

    padding: 6px; 
    
    border: 1px solid; 
    
    border-radius: 4px; 
    
    border-color: maroon; 
    
    background-color: white;
    
}

.input-group-addon {
    
    display: none;
    
}