#schedule-link a {
    
    display: inline;
    
    position: relative;
    
    padding: 6px; 
    
    border: 1px solid; 
    
    border-radius: 4px; 
    
    border-color: #800029; 
    
    font-weight: bolder;
    
    text-decoration: none;
    
}

#schedule-link a:hover {
    
    background-color: #800029;
    
    color: white !important;
    
}

.input-group-addon {
    
    display: none;
    
}