/**
 * Place your custom styles here.
 * I have shown an example below. 
 */
 
 
body{
   /* color:blue; */
}

.navbar{
    background-color: #800029;
}

.name navbar-brand {
     color: #fff;   
     font-size: 30px;
}